.CadastroUsuario {
  font-family: "Bebas Neue", sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: gray;
}

.CadastroUsuario h1 {
  text-align: center;
  margin-bottom: 20px;
}

.CadastroUsuario form {
  display: flex;
  flex-direction: column;
}

.CadastroUsuario label {
  margin-bottom: 5px;
}

.CadastroUsuario input,
.CadastroUsuario select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.CadastroUsuario button {
  padding: 10px 15px;

  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.submit {
  background-color: #0056b3;
}

.submit:hover {
  background-color: blue;
}

.CadastroUsuario p {
  color: #dc3545;
  margin-top: 5px;
}
.password-field {
  position: relative;
  display: inline-block;
  align-items: center;
}

.password-toggle {
  position: absolute;
  top: 43%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px !important;
  padding-left: 0% !important;
  background-color: transparent;
}
.password-toggle svg {
  width: 18px;
  height: auto;
}

.eye-open-icon,
.eye-closed-icon {
  width: 20px;
  height: 20px;
  fill: #000;
}
input {
  width: 24rem !important;
}
